<div class="hero is-link is-fullheight">
  <div class="hero-body is-justify-content-center is-align-items-center">
    <div class="columns is-flex is-flex-direction-column box">
      <div class="column">
        <label for="email">Correo electrónico</label>
        <input class="input is-primary" type="text" />
      </div>
      <div class="column">
        <label for="Name">Contraseña</label>
        <input class="input is-primary" type="password" />
      </div>
      <div class="column">
        <button class="button is-link is-fullwidth" type="submit">
          Entrar
        </button>
      </div>
      <div class="has-text-centered">
        <p>
          ¿Todavía no tienes cuenta Reversa?
          <a (click)="goToRegister()" class="has-text-primary">Registráte</a>
        </p>
      </div>
    </div>
  </div>
</div>
