/* You can add global styles to this file, and also import other style files */
@import "bulma/css/bulma.css";

.map-spot-content {
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
